main {
    display: flex;
    margin: 15px 15px 0 15px;
    min-height: 580px;
    flex: 1;
    flex-direction: column;

    &.extended {
        padding-left: 30px;
    }

    header {
        display: flex;
        height: 40px;
        background-color: @grey-color;
        align-items: center;

        .back, .forward {
            color: @white-header-color;
            font-size: 20px;
            font-weight: 400;
        }

        .back {
            margin-left: 20px;
        }

        .forward {
            margin-left: 5px;
        }

        h1 {
            color: @white-header-color;
            font-family: Oswald, serif;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 400;
            padding-left: 9px;
        }
    }

    .main-calendar {
        border: 2px solid @grey-border-color;
        border-top: none;
        padding: 0 14px 25px 8px; // different padding on the left and on the right according to psd(8 and 14)

        .weekdays {
            display: flex;
            height: 25px;
            flex-direction: row;
            align-items: center;

            div {
                flex: 1;
                padding-left: 13px;
                color: @grey-color;
                font-family: "Source Sans Pro", serif;
                font-size: 16px;
                font-weight: 600;
            }
        }

        .net {
            display: flex;
            flex-flow: row wrap; //flex-flow: <'flex-direction'> || <'flex-wrap'>
            border: 1px solid #d5d5d5;

            .day-wrapper {
                border: 1px solid #d5d5d5;
                flex: 1;
                flex-basis: 13.8%;
                position: relative;

                &::before {
                    content: "";
                    padding-top: 100%;
                    float: left;
                }

                .day {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    position: absolute;

                    .date {
                        color: #464547;
                        font-family: "Source Sans Pro", serif;
                        font-size: 16px;
                        font-weight: 600;
                        padding-left: 4px;
                    }

                    .day-current-border {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;

                        border: 3px solid @blue-color;
                        border-radius: 3px;
                        margin: -3px;
                        z-index: 1;
                    }
                }
            }
        }
    }
}


