* {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #454446;
    color: #b7b7b7;

    font-family: "Source Sans Pro", serif;
    font-size: 14px;
    font-weight: 400;

}

    footer div {
        padding: 0 21px;
    }


        footer span {
            padding: 0 21px;
        }

        footer a {
            color: #b7b7b7;
        }
