.tasks {
	flex: 1;
	position: relative;
}

	.tasks > div:nth-child(2) { top: 20% }
	.tasks > div:nth-child(3) { top: 40% }
	.tasks > div:nth-child(4) { top: 60% }
	.tasks > div:nth-child(5) { top: 80% }

	.task {
		height: 20%;
		position: absolute;
		z-index: 1;
		overflow: hidden;
		white-space: nowrap;
	}

		.task:hover {
			z-index: 2;
			text-decoration: underline;
			color: #fff;
		}

			.task-label {
				height: 100%;
				width: 8px;
				float: left;
				margin-top: 1px;
			}



		.task-contents {
			width: 100%;
			height: 100%;
			margin-top: 1px;
		}

			.task-contents a {
				color: #fff;
				font-family: "Source Sans Pro", serif;
				font-size: 14px;
				font-weight: 600;
				padding: 0 8px;
				display: flex;
				align-items: center;
				height: 100%;
			}

			.task.task-more .task-contents {
				margin: -1px;
			}


			.task.task-more a {
				color: #666;
				font-family: "Source Sans Pro", serif;
				font-size: 12px;
				font-weight: 300;
			}

				.task.task-more:hover {
					text-decoration: none;
				}

				.task.task-more a::before {
					content: "\f0d7";
					font-family: FontAwesome;
					margin-left: -5px;
					padding-right: 4px;
				}

		.task-duration-1 {
			width: 100%;
		}

		.task-duration-2 {
			width: calc(200% + 2px);
		}

		.task-duration-3 {
			width: calc(300% + 4px);
		}

		.task-duration-4 {
			width: calc(400% + 6px);
		}

		.task-duration-5 {
			width: calc(500% + 8px);
		}

		.task-duration-6 {
			width: calc(600% + 10px);
		}

		.task-duration-7 {
			width: calc(700% + 12px)%;
		}

		.task-color-green .task-label {
			background: #6a8228;
		}

		.task-color-green .task-contents {
			background: #a4c743;
		}

		.task-color-yellow .task-label {
			background: #9b7f1d;
		}

		.task-color-yellow .task-contents {
			background: #edc231;
		}

		.task-color-red .task-label {
			background: #76122a;
		}

		.task-color-red .task-contents {
			background: #b42245;
		}

		.task-color-violet .task-label {
			background: #60517c;
		}

		.task-color-violet .task-contents {
			background: #947fbe;
		}

		.task-color-teal .task-label {
			background: #207871;
		}

		.task-color-teal .task-contents {
			background: #36b8ad;
		}

		.task-extended .task-label {
			background: none;
		}